@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "General Sans";
  src: url("./assets/fonts/GeneralSans-Variable.ttf");
}

@font-face {
  font-family: "Clash Grotesk Variable";
  src: url("./assets/fonts/ClashGrotesk-Variable.ttf");
}

html.lenis,
html.lenis body {
  height: auto;
}

.top-border {
  z-index: 1000000000000000000;
}

.top-border::before {
  content: "";
  position: absolute;
  background-color: transparent;
  bottom: -24px;
  left: 12px;
  z-index: 1000000000000000000;
  height: 24px;
  width: 24px;
  border-top-left-radius: 20px;
  box-shadow: 0 -12px 0 0 black;
}

.top-border::after {
  content: "";
  position: absolute;
  background-color: transparent;
  bottom: -24px;
  right: 12px;
  z-index: 1000000000000000000;
  height: 24px;
  width: 24px;
  border-top-right-radius: 20px;
  box-shadow: 0 -12px 0 0 black;
}

@media (min-width: 768px) {
  .top-border::before {
    content: "";
    position: absolute;
    background-color: transparent;
    bottom: -48px;
    left: 24px;
    z-index: 1000000000000000000;
    height: 48px;
    width: 24px;
    border-top-left-radius: 24px;
    box-shadow: 0 -24px 0 0 black;
  }

  .top-border::after {
    content: "";
    position: absolute;
    background-color: transparent;
    bottom: -48px;
    right: 24px;
    z-index: 1000000000000000000;
    height: 48px;
    width: 24px;
    border-top-right-radius: 24px;
    box-shadow: 0 -24px 0 0 black;
  }
}

.texture {
  background-image: url("./assets/images/black-felt.png");
}

.texture-50 {
  background-image: linear-gradient(
      rgba(221, 238, 225, 0.75),
      rgba(221, 238, 225, 0.75)
    ),
    url("./assets/images/black-felt.png");
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.marquee {
  animation-name: marquee;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.marquee-parent:hover .marquee {
  animation-play-state: paused;
}

#work-visualize {
  background-image: url("./assets/images/3D.webp"),
    url("./assets/images/black-felt.png");
}

#work-amedie {
  background-image: url("./assets/images/nature.webp");
}

.animate-header span {
  display: inline-block;
  transform: translateY(-24px);
  animation-timing-function: ease-in-out;
  opacity: 0;
}
